# fastapi
# uvicorn[standard]
# python-multipart
# python-dotenv
# PyPDF2
# sentence-transformers
# faiss-cpu
# groq
# numpy
fastapi>=0.110.0
uvicorn>=0.28.0
groq>=0.4.0
sentence-transformers>=2.5.1
chromadb>=0.4.24
PyMuPDF>=1.23.26
pydantic>=2.6.4
pydantic-settings>=2.2.1
python-multipart>=0.0.9
python-dotenv>=1.0.1